<!-- RawBlameHistory   -->
<!--mini statistics start-->
<div class="row">


  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-building-o"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.users %></span> Quantidade de cadastros
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-book"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.students %></span> Quantidade de alunos
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-comments-o"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.undergraduates %></span> Quantidade de graduandos
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-home"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.graduates %></span> Quantidade de profissionais
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-user"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.total_evaluations %></span> Quantidade de avaliações
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-user"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.students_evaluations %></span> Total de avaliações de alunos
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.undergraduates_evaluations %></span> Total de avaliações de graduandos
      </div>
    </div>
  </div>

   <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.graduates_evaluations %></span> Total de avaliações de Profissionais
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.courses_views %></span> Quantidade de visualizações dos cursos
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.ies_views %></span> Quantidade de visualizações das IES
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.last_week_logins %></span> Quantidade de logins na última semana
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.last_week_students_logins %></span> Quantidade de logins de alunos na última semana
      </div>
    </div>
  </div>

   <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.last_week_academics_logins %></span> Quantidade de logins de graduandos na última semana
      </div>
    </div>
  </div>

   <div class="col-md-4">
    <div class="mini-stat clearfix" style="cursor: pointer;" onclick="javaascript:window.location.href='#'">
      <span class="mini-stat-icon tar"><i class="fa fa-briefcase"></i></span>
      <div class="mini-stat-info">
        <span><%= StrategyReport.last_week_professionals_logins%></span> Quantidade de logins de profissionais na última semana
      </div>
    </div>
  </div>

</div>
<!--mini statistics end-->