<% add_breadcrumb "Dashboard", '/' %>
<% add_breadcrumb "Minha Conta" %>

<div class="row">
  <div class="col-md-12">
    
    <form class="simple_form form-horizontal">

      <section class="panel">

        <header class="panel-heading tab-bg-dark-navy-blue">
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#my-account">
                <i class="fa fa-cog"></i> Meus Dados
              </a>
            </li>
          </ul>
        </header>

        <div class="panel-body ">
          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
          <%= devise_error_messages! %>

            <div class="tab-content">
              <div id="my-account" class="tab-pane active">


                  <div class="form-group">        
                    <%= f.label :current_password, 'Digite sua senha atual', class:"control-label col-md-3" %>
                    <div class="col-md-8">
                    <%= f.password_field :current_password, :autocomplete => "off", :placeholder => "Confirme sua senha, para aplicar as mudanças.", class: "form-control" %>
                    </div>    
                  </div> 

                  <div class="form-group">        
                    <%= f.label :email, class:"control-label col-md-3" %>
                    <div class="col-md-8">
                    <%= f.email_field :email, :autofocus => true, class: "form-control" %>
                    </div>    
                  </div> 

                  <div class="form-group">        
                    <%= f.label :password, 'Alterar Senha', class:"control-label col-md-3" %>
                    <div class="col-md-8">
                    <%= f.password_field :password, :autocomplete => "off", :placeholder => "Deixe em branco, se você não for alterar sua senha.", class: "form-control" %>
                    </div>    
                  </div> 

                  <div class="form-group">        
                    <%= f.label :password_confirmation, 'Confirme a senha', class:"control-label col-md-3" %>
                    <div class="col-md-8">
                    <%= f.password_field :password_confirmation, :autocomplete => "off", :placeholder => "Deixe em branco, se você não for alterar sua senha.", class: "form-control" %>
                    </div>    
                  </div> 

                  <div class="form-group">
                    <label class="control-label col-md-3"></label>
                    <div class="col-md-8">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Gravar</button>
                    </div>
                  </div>

              </div>

<!--               <div id="profile" class="tab-pane">

                            <div class="form-group last">
                                <label class="control-label col-md-3">Minha Foto</label>
                                <div class="col-md-8">
                                    <div class="fileupload fileupload-new" data-provides="fileupload">
                                        <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="" />
                                        </div>
                                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                        <div>
                                                   <span class="btn btn-white btn-file">
                                                   <span class="fileupload-new"><i class="fa fa-paper-clip"></i> Selecionar uma imagem</span>
                                                   <span class="fileupload-exists"><i class="fa fa-undo"></i> Mudar</span>
                          <%#= f.fields_for :institution_profile, resource.profile do |profile| %>
                            <%#= profile.file_field :avatar %>
                            <input name="file" type="file" class="default">
                          <% #end %>
                                                   </span>
                                            <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i> Remover</a>
                                        </div>
                                    </div>

                                </div>
                            </div>



                  <div class="form-group">
                    <label class="control-label col-md-3"></label>
                    <div class="col-md-8">
                      <button class="btn btn-primary" type="submit"><i class="fa fa-floppy-o"></i> Gravar</button>
                    </div>
                  </div>

                
              </div> -->
            </div>

          <% end %>

        </div>

      </section>
    </form>
  </div>
</div>
