<%- @page_title = "SIGLA"  -%>
<%- @page_subtitle = 'Nome completo da instituição' -%>

<div id="show_institution">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        
        <!-- Logo and Informations -->
        <div class="section-logo-informations">
          <div class="row">
            <div class="col-lg-4">
              <div class="logo">
                <img class="img-responsive" src="http://fakeimg.pl/380x190/282828/eae0d0/?text=Logomarca">
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">

                <div class="col-lg-4">
                  <blockquote>
                    <p>Avaliação do Mec (IGC)</p>
                    <footer>4</footer>
                  </blockquote>
                </div>

                <div class="col-lg-4">
                  <blockquote>
                    <p>FIES?</p>
                    <footer>Sim</footer>
                  </blockquote>
                </div>

                <div class="col-lg-4">
                  <blockquote>
                    <p>PROUNI?</p>
                    <footer>Não</footer>
                  </blockquote>
                </div> 
              
                <div class="col-lg-4">
                  <blockquote>
                    <p>Prof. Doutores</p>
                    <footer>15</footer>
                  </blockquote>
                </div>
              
                <div class="col-lg-4">
                  <blockquote>
                    <p>Prof. Mestres</p>
                    <footer>40</footer>
                  </blockquote>
                </div>
              
                <div class="col-lg-4">
                  <blockquote>
                    <p>Prof. Graduados</p>
                    <footer>20</footer>
                  </blockquote>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- End Logo and Informations -->
            
        <!-- Graduation -->
        <div class="section-graduations">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2>Graduação Exemplo</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
        
              <div>
                Esse é um texto de exemplo do curso que a instituição oferece, lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, error harum sed sunt doloribus. Omnis, asperiores nulla hic consequatur voluptate quis distinctio illo rerum fugit cumque. Ipsam, iure ex impedit.  
              </div>
              
              <hr />

              <div class="row">
                  
                <div class="col-lg-4">
                  <blockquote>
                    <p>Período</p>
                    <footer>Manhã</footer>
                  </blockquote>
                </div>
                  
                <div class="col-lg-4">
                  <blockquote>
                    <p>Carga Horaria</p>
                    <footer>180H</footer>
                  </blockquote>
                </div>
                  
                <div class="col-lg-4">
                  <blockquote>
                    <p>Mensalidade</p>
                    <footer>R$ 800,00</footer>
                  </blockquote>
                </div>
                  
                <div class="col-lg-4">
                  <blockquote>
                    <p>Coordenação</p>
                    <footer>Prof. Exemplo do Site</footer>
                  </blockquote>
                </div>
                
                <div class="col-lg-4">
                  <blockquote>
                    <p>Grau Academico</p>
                    <footer>Bacharelado</footer>
                  </blockquote>
                </div>
                  
                <div class="col-lg-4">
                  <blockquote>
                    <p>Modalidade de Ensino</p>
                    <footer>Presencial</footer>
                  </blockquote>
                </div>

              </div>

              <hr />
                  
              <div class="row">
                <div class="col-md-12">
                  <%= image_tag 'video_graduation.png', class: 'img-responsive' %>
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-4 box-semester">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">1˚ Semestre</h3>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        Disciplina 1
                      </li>
                      <li class="list-group-item">
                        Disciplina 2
                      </li>
                      <li class="list-group-item">
                        Disciplina 3
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 box-semester">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">2˚ Semestre</h3>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        Disciplina 1
                      </li>
                      <li class="list-group-item">
                        Disciplina 2
                      </li>
                      <li class="list-group-item">
                        Disciplina 3
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-4 box-semester">
                  <div class="panel panel-primary">
                    <div class="panel-heading">
                      <h3 class="panel-title">3˚ Semestre</h3>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        Disciplina 1
                      </li>
                      <li class="list-group-item">
                        Disciplina 2
                      </li>
                      <li class="list-group-item">
                        Disciplina 3
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!-- End Graduations --> 

        <!-- Other Graduations -->
        <div class="section-graduations">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2>Outras Graduações</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#">
                      <h4 class="panel-title">
                        <%= image_tag 'icon_graduation.png', class: 'center-block img-responsive icon-graduation'%>
                        Graduação Exemplo 1
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#">
                      <h4 class="panel-title">
                        <%= image_tag 'icon_graduation.png', class: 'center-block img-responsive icon-graduation'%>
                        Graduação Exemplo 2
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#">
                      <h4 class="panel-title">
                        <%= image_tag 'icon_graduation.png', class: 'center-block img-responsive icon-graduation'%>
                        Graduação Exemplo 3
                      </h4>
                    </a>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <a href="#">
                      <h4 class="panel-title">
                        <%= image_tag 'icon_graduation.png', class: 'center-block img-responsive icon-graduation'%>
                        Graduação Exemplo 4
                      </h4>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Other Graduations -->
        
        <!-- Photos -->
        <div class="section-photos">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2>Fotos</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
            <div class="col-md-3">
              <div class="thumb">
                <a class="gallery-item filter1 fancybox" href="http://img25.wallpapercasa.com/uploads/wallpapers/2011/10/02/88779/thumb_big_wide_5a6c687a89651bdffb74ee4e31af5c24.jpg" rel="gallery1">
                  <img src="http://fakeimg.pl/250x160/" class='video-thumb img-responsive'/>
                  <div class="btn-video-play"></div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <!-- End Photos -->
        
        <!-- Videos -->
        <div class="section-video">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2>Video da Instituição</h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <%= youtube_embed('https://www.youtube.com/watch?v=W7T_W7Ao4u4') %>
            </div>
          </div>
        </div>
        <!-- End Videos -->

        <!-- Other informations -->
        <div class="section-other-informations">
          <div class="title-section">   
            <div class="row">
              <div class="col-lg-12">
                <h2>Outras Informações</h2>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-4">
              <blockquote>
                <p>Site</p>
                <footer>
                  <a href="#">www.cliente.com.br</a>
               </footer>
              </blockquote>
            </div>
          
            <div class="col-lg-4">
              <blockquote>
                <p>E-mail</p>
                <footer>cliente@instituicao.com.br</footer>
              </blockquote>
            </div>

            <div class="col-lg-4">
              <blockquote>
                <p>Tel:</p>
                <footer>(00) 3132.9988</footer>
              </blockquote>
            </div>

          <div class="col-lg-4">
            <blockquote>
              <p>Redes Socias</p>
              <footer>
                <%= link_to(verify_http_protocol_in_url('https://www.facebook.com/ninjachoice?ref=bookmarks'), target: "_blank") do %> 
                  <i class="fa fa-facebook"></i>
                <% end %>
                <%= link_to(verify_http_protocol_in_url('https://twitter.com/ninjachoice'), target: "_blank") do %> 
                  <i class="fa fa-twitter"></i>
                <% end %>
                <%= link_to(verify_http_protocol_in_url('https://www.youtube.com/user/TheNinjaChoice'), target: "_blank") do %> 
                  <i class="fa fa-youtube"></i>
                <% end %>
                <%= link_to(verify_http_protocol_in_url('http://instagram.com/ninjachoice/'), target: "_blank") do %> 
                  <i class="fa fa-instagram"></i>
                <% end %>
                <%= link_to(verify_http_protocol_in_url('https://plus.google.com/u/0/+Ninjachoice/about'), target: "_blank") do %> 
                  <i class="fa fa-google-plus fa-2"></i>
                <% end %>
              </footer>
            </blockquote>
          </div>

            <div class="col-lg-6">
              <blockquote>
                <p>Endereço</p>
                <footer>Rua Cliente, 200 - Bairro Grande</footer>
              </blockquote>
            </div>

          </div>
        </div>
        <!-- End Other informations -->
       
        <!-- Polos -->
        <div class="section-contact">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2>Polos</h2>
              </div>
            </div>
          </div>        

          <div class="row">
            <div class="col-lg-12">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m8!1m3!1d63701.6236561407!2d-38.5508983!3d-3.7333493!3m2!1i1024!2i768!4f13.1!4m7!1i0!3e6!4m3!3m2!1d-3.7308654999999997!2d-38.5172527!4m0!5e0!3m2!1spt-BR!2sbr!4v1402269246372" width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
          </div>
        </div>
        <!-- End Contact -->

        <!-- Contact -->
        <div class="section-contact">
          <div class="title-section">
            <div class="row">
              <div class="col-lg-12">
                <h2 >Contato</h2>
              </div>
            </div>
          </div>        

          <div class="row">
            <div class="col-lg-12">
  
                <div class="form-group">
                  <label class="col-md-2 control-label" for="contact_name">Nome</label>
                  <div class="col-md-10">
                    <input class="form-control" id="contact_name" name="contact[name]" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 control-label" for="contact_email">E-mail</label>
                  <div class="col-md-10">
                    <input class="form-control" id="contact_email" name="contact[email]" type="text">
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-2 control-label" for="contact_message">Mensagem</label>
                  <div class="col-md-10">
                    <textarea class="form-control" cols="10" id="contact_message" name="contact[message]" rows="10"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-md-offset-2 col-md-10">
                    <input class="btn btn-primary btn-lg btn-block btn-large-purple" name="commit" type="submit" value="Enviar">
                  </div>
                </div>
           
            </div>
          </div>
        </div>
        <!-- End Contact -->

      </div>
    </div>
  </div>
</div>

<script>
jQuery(document).ready(function() {
  location.hash && $(location.hash + '.collapse').collapse('show');
});
</script>