<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
  <h2 class="form-signin-heading"><%= image_tag 'backend/logo-md-white.png' %></h2>
  <div class="login-wrap">
    <div class="user-login-info">
      <%= render 'layouts/site/shared/flash_message' %>
      <%= f.email_field :email, :autofocus => true, :placeholder => "E-mail", class: "form-control text-center" %>
      <%= f.password_field :password, :placeholder => "Senha", class: "form-control text-center" %>
    </div>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <label class="checkbox">
        <span class="pull-right">
          Esqueceu a senha?
          <%= link_to "Clique Aqui", new_password_path(resource_name) %>
        </span>
      </label>
    <% end %>
    <button class="btn btn-lg btn-login btn-block" type="submit">ENTRAR</button>

    <div class="registration">
      minhagraduacao.com © 2014
    </div>
  </div>
<% end %>