<br />
<div id="tips">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 text-center">
            <%= link_to 'SOU ESTUDANTE', choice_scholarity_save_path(:id => 1)%>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag "IconUni.png", :class => "choice-academic" %> <br />
            <%= link_to 'ESTOU NA FACULDADE', choice_scholarity_save_path(:id => 2) %>
          </div>
          <div class="col-md-4 text-center">
            <%= image_tag "IconPro.png", :class => "choice-professional" %> <br />
            <%= link_to 'JÃ SOU FORMADO', choice_scholarity_save_path(:id => 3) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>